name = "yokllone-homework"
compatibility_date = "2025-12-14"

# KV命名空间绑定
[[kv_namespaces]]
binding = "ASSIGNMENTS_KV"
id = "c8c358bca8ea4a1583a1d86a80debfe6"
preview_id = "c8c358bca8ea4a1583a1d86a80debfe6"

# 环境变量
[vars]
NODE_ENV = "production"